body {
  margin: 0;
  padding: 0;
}

body > header, body > footer {
  text-align: center;
  background-color: var(--color-grey-lightest);
  padding: var(--size-4) 0;
}

main {
  width: 90vw;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding: var(--size-4) 0;
}

body {
  font-family: var(--font-handwritten);
  font-size: var(--scale-0);
  font-weight: var(--weight-light);
  line-height: var(--line-md);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--weight-medium);
}

h1 {
  font-size: var(--scale-5);
}
h2 {
  font-size: var(--scale-fluid-6)
}
h3 {
  font-size: var(--scale-fluid-5)
}


